/node_modules
.env 
# Ignora todas as fotos enviadas, mas mantém a pasta através do .gitkeep
back-end/uploads/fotos/*
!back-end/uploads/fotos/.gitkeep

# Temporary files and uploads
tmp/ # Pasta temporária para uploads, conforme configurado em upload.ts

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / output
/dist
/build
.tsbuildinfo
.DS_Store
Thumbs.db
.vscode/

# Docker
docker-compose.override.yml # Ignorar overrides locais do Docker Compose