@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./styles/variaveis.css";
@import "./styles/button.css";
@import "tailwindcss";

html, body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #f8fafc;
    box-sizing: border-box;
}