@import "./styles/variaveis.css";
@import "./styles/button.css";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #AE2448;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}